In [36]:
import sqlite3

In [37]:
conn = sqlite3.connect('testDB.db')

In [42]:
cur = conn.cursor()
cur.execute("SELECT * FROM EAGLES")
rows = cur.fetchall()
rows

[(1, 22, '이태양', '투수'),
 (2, 17, '김범수', '투수'),
 (3, 13, '최재훈', '포수'),
 (4, 43, '정은원', '내야수'),
 (5, 19, '이용규', '외야수'),
 (6, 30, '호잉', '외야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (9, 53, '김민우', '투수'),
 (10, 61, '박상원', '투수')]

In [43]:
cur.execute("SELECT * FROM EAGLES WHERE POSITION='투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(2, 17, '김범수', '투수')
(9, 53, '김민우', '투수')
(10, 61, '박상원', '투수')

## 데이터 추가

In [48]:
cur.execute("INSERT INTO EAGLES(back_no, name, position) VALUES(1, '하주석', '내야수')")

In [49]:
# DB에 반영
conn.commit()

In [50]:
# 파라미터 : 튜플을 사용해서 전달
back_no = 25
name = '최진행'
position = '외야수'
sql = "INSERT INTO EAGLES(back_no, name, position) VALUES(?,?,?)"

cur.execute(sql, (back_no, name, position))
conn.commit()

In [52]:
# 튜플 리스트 사용
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
sql = "INSERT INTO EAGLES(back_no, name, position) VALUES(?,?,?)"
for player in players:
    cur.execute(sql, player)
conn.commit()

In [53]:
# excutemany() 사용
players = [(48, '채드벨', '투수'), (57, '정우람', '투수')]
cur.executemany(sql,players)
conn.commit()

## 데이터 조회

In [55]:
# 순회 조회
sql = "SELECT * FROM eagles WHERE position='투수'"
cur.execute(sql)
for result in cur:
    print(result)

(1, 22, '이태양', '투수')
(2, 17, '김범수', '투수')
(9, 53, '김민우', '투수')
(10, 61, '박상원', '투수')
(16, 38, '안영명', '투수')
(17, 54, '서균', '투수')
(18, 48, '채드벨', '투수')
(19, 57, '정우람', '투수')

In [57]:
# 한 건 조회 *********************************************************
sql = "SELECT * FROM eagles WHERE position='투수'"
cur.execute(sql)
result = cur.fetchone()
print(result)

(1, 22, '이태양', '투수')

In [60]:
result = cur.fetchone()
print(result)

(10, 61, '박상원', '투수')

In [63]:
# 갯수 지정 조회 *********************************************************
sql = "SELECT * FROM eagles WHERE position='투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (2, 17, '김범수', '투수'), (9, 53, '김민우', '투수')]

In [64]:
# 전부 조회 *********************************************************
sql = "SELECT * FROM eagles WHERE position='내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(4, 43, '정은원', '내야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (11, 1, '하주석', '내야수')]

In [65]:
# 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (43, '정은원'),
 (30, '호잉'),
 (50, '이성열'),
 (52, '김태균'),
 (53, '김민우'),
 (61, '박상원'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '채드벨'),
 (57, '정우람')]

In [66]:
# 백넘버가 30 ~ 39 까지인 선수
sql = "select * from eagles where back_no between 20 and 29"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'), (15, 25, '최진행', '외야수')]

In [67]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
result

(10, 61, '박상원', '투수')

In [76]:
# 포지션별 사람 수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 4), ('외야수', 3), ('투수', 8), ('포수', 1)]

## 데이터 검색

In [77]:
# back_no가 57번인 선수는?
back_no = 57
sql = "select * from eagles where back_no=?"
cur.execute(sql, (back_no,))
result = cur.fetchone()
result

(19, 57, '정우람', '투수')

## 데이터 변경

In [80]:
# id가 11인 하주석 선수의 포지션을 외야수로 변경
id_ = 11
position = '외야수'
sql = "update eagles set position = ? where id = ?"
cur.execute(sql, (position,id_))
conn.commit()

## 데이터 삭제

In [81]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id_, ))
conn.commit()