# Chapter 02. 파이썬의 기본 문법

In [1]:
# ex 2-1
a = 20
b = 30
c = a + b
print(c)

50

In [2]:
# ex 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
date2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, date2)

20 Mac 30 70 홍길동 1997 20.3

In [3]:
# ex 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [4]:
# ex 2-5
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [5]:
# ex 2-7
a = 30           # 0001 1110
print(a)
print(type(a))

b = '30'         # ASCII code
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

### 문자열의 인덱스

In [6]:
# ex 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])  # 0 <= x < 3
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [7]:
y = '나는 행복합니다.'

print(y[0:2])
print(y[3:-1])

start = 3
print(y[start:start+2])

나는
행복합니다
행복

In [8]:
z = '내 강아지 이름은 happy에요.'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

### 불 데이터 형

In [9]:
# ex 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

### 사칙 연산자

In [2]:
# ex 2-10
a = 10
b = 20

c = a + b*10 - 5/5
print(c)

209.0

### 나머지와 소수점 절삭 연산자

In [3]:
# ex 2-11
x = 10 % 3
print(x)

y = 7//3
print(y)

1
2

### 거듭제곱 연산자

In [4]:
# ex 2-12
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

### 할당 연산자

In [5]:
# ex 2-13
x = 10
x += 20  # x=x+20과 동일

print(x)

30

In [6]:
# ex 2-14
x = 3
y = 5
x *= x+y # x=x*(x+y)와 동일 
print(x)

24

### 문자열 반복 : *

In [7]:
# ex 2-15
hello = '안녕' * 5

print(hello)

안녕안녕안녕안녕안녕

### 문자열 길이 : len( )

In [8]:
# ex 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

### 문자열 연결 : +

In [9]:
# ex 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

### 문자열 연결 시 오류

In [10]:
# ex 2-18
eng = 80
result = '영어 점수' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

### 정수 -> 문자열 : str( )

In [11]:
# ex 2-19
eng = 80
result = '영어 점수' + str(eng) + '점'
print(result)

영어 점수80점

### 문자열 포맷팅 : %s

In [13]:
# ex 2-20
name = '제정륭'

a = '나는 %s입니다.'%name
print(a)

나는 제정륭입니다.

### 문자열 포맷팅 : %d

In [17]:
# ex 2-21
age = 20

a = '나이는 %d입니다.'%age
print(a)

나이는 20입니다.

### 문자열 포맷팅 : %2d

In [21]:
# ex 2-22
year = 2020
month = 3
day = 5
a = '%d-%02d-%02d'%(year,month,day)
print(a)

2020-03-05

### 문자열 포맷팅 : %.2f

In [22]:
# ex 2-23
height = 172.5
a = '키는 %.2f입니다.'%height
print(a)

키는 172.50입니다.

### format( )을 이용한 문자열 포맷팅

In [23]:
# ex 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

### 다양한 문자열 메소드

In [18]:
# 문자열 메소드
x = 'I am happy!'
x.count('a')

2

In [19]:
x.find('happy')

5

In [20]:
x.upper()

'I AM HAPPY!'

In [21]:
x.lower()

'i am happy!'

In [22]:
x.replace('am','was')

'I was happy!'

In [25]:
x.split(' ')

['I', 'am', 'happy!']

In [26]:
x.isspace()

False

### 콤마(, )를 이용한 출력

In [24]:
# ex 2-25
name = '홍길동'
age = 30
height = 173.7`

print(name,age,height)

홍길동 30 173.7

### 문자열 연결기호(+)를 이용한 출력

In [26]:
# ex 2-26
x = 10
y = 20

print('x = '+str(x)+', y = '+str(y))

x = 10, y = 20

### 문자열 포맷팅(%)을 이용한 출력

In [27]:
# ex 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d'%(score1, score2))
print('합계 : %d, 평균 : %.2f'%(sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [2]:
# ex 2-28
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디: {}, 마일리지 : {}'.format(id,point))

이름 : 김소원
아이디: kim, 마일리지 : 18000

### 키워드 sep을 이용한 출력

In [28]:
# ex 2-29
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

### 키워드 end를 이용한 출력

In [29]:
# 오늘은 2020/5/29 입니다.
print('오늘은', end=' ')
print(year, month, day, sep='/',end=' ')
print('입니다.')

오늘은 2020/3/5 입니다.

### 키보드 입력

In [30]:
# ex 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.'%name)

이름을 입력하세요 : 제정륭
제정륭님 반갑습니다.

### 키보드로 입력받은 두 수 더하기

In [31]:
# ex 2-33
a = int(input('first number >> '))
b = int(input('second number >> '))
print('sum = ',tstr(a+b))

first number >> 10
second number >> 20
sum =  30

### 주석문

In [13]:
# ex 2-35
# 파일명 : ex2-35.py
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10
b = 20

c = a + b

print(c)

30

# < 연습문제 >

### Q 2-1) 삼각형의 면적 구하기

In [3]:
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이 : ',width)
print('삼각형의 높이 : ',height)
print('삼각형의 면적 : ',area)

삼각형의 밑변 길이 :  10
삼각형의 높이 :  3
삼각형의 면적 :  15.0

### Q 2-2) 거스름돈 계산하기

In [4]:
price = 800
buy = 3
pay = 5000
change = pay - price * buy

print('물건가격 : ',price,'원')
print('구매개수 : ',buy,'개')
print('지불금액 : ',pay,'원')
print('거스름돈 : ',change,'원')

물건가격 :  800 원
구매개수 :  3 개
지불금액 :  5000 원
거스름돈 :  2600 원

### Q 2-3) 다음 프로그램의 실행 결과는?

In [5]:
x = 20
y = 4

x = y%x
print(x)

y -= x*2
print(x,y)

4
4 -4

### Q 2-4) 문자열 추출과 문자열 포맷팅

In [6]:
name = "홍길동"
age = 30
height = 171.5

print('성 : ', name[0])
print('이름 : ', name[1:])
print('%s의 나이:%d세, 키:%.2fcm'%(name,age,height))

성 :  홍
이름 :  길동
홍길동의 나이:30세, 키:171.50cm

### Q 2-5) 성적 평균 구하기

In [8]:
name = input("학생 이름을 입력하세요:")
kor = int(input("국어 성적을 입력하세요:"))
eng = int(input("영어 성적을 입력하세요:"))
math = int(input("수학 성적을 입력하세요:"))

total = kor + eng + math
avg = total / 3

print("이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점"%(name,kor,eng,math,avg))

학생 이름을 입력하세요:제정륭
국어 성적을 입력하세요:85
영어 성적을 입력하세요:83
수학 성적을 입력하세요:91
이름:제정륭, 국어:85, 영어:83, 수학:91, 평균:86.3점

In [32]:
# ASCII

a = 66

print('%c'%a)

B