# Chapter 05. 리스트

In [4]:
# ex 5-1
fruits = ['사과','오렌지','딸기','포도','감','키위','멜론','수박']
list1 = [5,10.2,'탁구',True,[4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list1)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
['키위', '멜론', '수박']

In [5]:
# ex 5-2
a = ['red','green','blue']
a.append('yellow')
print(a)

a.insert(1, 'black')
print(a)

b = ['purple','white']
a.extend(b)
print(a)

c = a + b
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [19]:
# ex 5-3
a = [10,20,30,40,50,60,70,80,90,100]
x = a.index(30)
print(x)

a.pop(x)
#del a[x]
print(a)

a.remove(90)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 40, 50, 60, 70, 80, 100]
[]

In [25]:
b = [10,20,30,40,50]
b[1] = 19
print(b)

[10, 19, 30, 40, 50]

In [28]:
b[2] = [33, 35]
print(b)

[10, 19, [33, 35], 40, 50]

In [29]:
b[2:3] = [33, 35]
print(b)

[10, 19, 33, 35, 40, 50]

In [30]:
# ex 5-4
list1 = ['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa',]
length = list1.count('aaa')

print(length)
print(len(list1))

3
12

In [31]:
s = []
for c in 'hello':
    s.append(c)
print(s)

['h', 'e', 'l', 'l', 'o']

In [18]:
# ex 5-5
list2 = [-7,1,5,8,3,9,11,13]
list2.sort()
print(list2)             #오름차순(ascending order)

list2.sort(reverse=True) #내림차순(descending order)
print(list2)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [22]:
# Q5-1
color = ['red','green','blue','black','white']

print(color[0])
print(color[4])
print(color[1:4])

red
white
['green', 'blue', 'black']

In [23]:
# Q5-2
num = list(range(1,20,2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
# Q5-3
mylist = ['사과','바나나','파인애플','배']

In [32]:
# ex 5-6
fruits = ['apple','orange','banana']

for fruit in fruits:
    print(fruit)

apple
orange
banana

In [33]:
# ex 5-7
scores = [88,75,90,95,77,69,80,92]

sum = 0
for score in scores :
    sum += score
    
avg = sum/8

print('총점 : %d, 평균 : %.2f'%(sum,avg))

총점 : 666, 평균 : 83.25

In [34]:
# ex 5-8
animals = ['토끼','거북이','사자','호랑이']

i = 0
while i < len(animals):
    print(animals[i])
    i+=1

토끼
거북이
사자
호랑이

## 2차원 리스트

In [35]:
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])

print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

In [36]:
print(len(numbers))

2

In [39]:
print(len(numbers[0]))
print(len(numbers[1]))

3
3

In [42]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum = 0
    for k in range(len(scores[i])):
        sum = sum + scores[i][k]
        
    avg = sum/len(scores[i])
    
    print('%d번째 학생의 합계 : %d, 평균 : %.2f'%(i+1, sum, avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [3]:
# Q5-6
s = [64,89,100,85,77,58,79,67,96,87,87,36,82,98,84,76,63,69,53,22]

count_su = 0
count_woo = 0
count_mi = 0
count_yang = 0
count_ga = 0

i = 0
while i<len(s):
    if s[i]>=90 and s[i]<=100:
        count_su+=1
    if s[i]>=80 and s[i]<=89:
        count_woo+=1
    if s[i]>=70 and s[i]<=79:
        count_mi+=1
    if s[i]>=60 and s[i]<=69:
        count_yang+=1
    if s[i]>=0 and s[i]<=59:
        count_ga+=1
    
    i+=1
        
print('수 : %d명'%count_su)
print('우 : %d명'%count_woo)
print('미 : %d명'%count_mi)
print('양 : %d명'%count_yang)
print('가 : %d명'%count_ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [1]:
# Q5-7
questions = ['tr_in','b_s','_axi','air_lane']
answers = ['a','u','t','p']

for i in range(len(questions)):
    q = '%s 에서 밑줄(_)안에 들어갈 알파벳은?'%questions[i]
    ans = input(q)
    
    if ans == answers[i]:
        print('정답입니다!')
    else:
        print('틀렸습니다!')

tr_in 에서 밑줄(_)안에 들어갈 알파벳은?a
정답입니다!
b_s 에서 밑줄(_)안에 들어갈 알파벳은?s
틀렸습니다!
_axi 에서 밑줄(_)안에 들어갈 알파벳은?t
정답입니다!
air_lane 에서 밑줄(_)안에 들어갈 알파벳은?w
틀렸습니다!

In [1]:
# Q5-8
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

i = 0
while i<len(scores):
    sum = 0
    k = 0
    while k<len(scores[k]):
        sum += scores[i][k]
        k+=1
        
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f'%(i+1, sum, avg))
    i+=1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

## 리스트 표현식(List comprehension)

In [2]:
a = []
for i in range(1,6):
    a.append(i*i)
print(a)

[1, 4, 9, 16, 25]

In [3]:
a = [i * i for i in range(1,6)]
print(a)

[1, 4, 9, 16, 25]

In [4]:
b = []
for i in range(1,10,2):
    b.append(i*i)
print(b)

[1, 9, 25, 49, 81]

In [6]:
b = [i * i for i in range(1,10) if i%2 ==1]
print(b)

[1, 9, 25, 49, 81]

In [7]:
b = [i * i for i in range(1,10,2)]
print(b)

[1, 9, 25, 49, 81]

In [11]:
gugudan = [i * j for j in range(1,10)
           for i in range(1,10)]
print(gugudan)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [12]:
'I love you.'.split(' ')

['I', 'love', 'you.']