# Chapter 07. 함수

In [2]:
# ex 7-1
def hello():
    print('안녕하세요.')
    
hello()
hello()
hello()

안녕하세요.
안녕하세요.
안녕하세요.

In [4]:
# ex 7-2
def even_odd(number):
    if number%2 == 0:
        print(number, '짝수')
    else:
        print(number, '홀수')
        
even_odd(7)
even_odd(4)

7 홀수
4 짝수

In [8]:
def add_sub(num1,num2):
    print('덧셈', num1+num2)
    print('뺄셈', num1-num2)
    
add_sub(2,3)

덧셈 5
뺄셈 -1

In [9]:
# ex 7-3
def favorate_color(name,color,amount):
    if(amount == 1):
        print('%s님은 %s을 좋아하지 않습니다.'%(name,color))
    elif(amount == 2):
        print('%s님은 %s을 조금 좋아합니다.'%(name,color))
    else:
        print('%s님은 %s을 매우 좋아합니다.'%(name,color))
        
favorate_color('김지영','빨강',1)
favorate_color('홍채영','노랑',2)
favorate_color('진소진','파랑',3)

김지영님은 빨강을 좋아하지 않습니다.
홍채영님은 노랑을 조금 좋아합니다.
진소진님은 파랑을 매우 좋아합니다.

In [15]:
# ex 7-4
def average(*scores):
    sum = 0
    for i in range(len(scores)):
        sum += scores[i]
        
    avg = sum/len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores),avg))

average(80,90,100)
average(75,80,94,78)
average(80,73,76,86,82)

3과목의 평균 : 90.00
4과목의 평균 : 81.75
5과목의 평균 : 79.40

In [16]:
# ex 7-7
def circle(radius):
    area = 3.14 * radius * radius
    return area

In [18]:
radius = int(input('원의 반지름을 입력하세요 : '))
result = circle(radius)
print('반지름 : %d, 원의 면적 : %.2f'%(radius,result))

원의 반지름을 입력하세요 : 5
반지름 : 5, 원의 면적 : 78.50

In [19]:
def new_circle(radius):
    area = 3.14 * radius * radius
    circum = 2 * 3.14 * radius
    return area, circum

In [20]:
radius = int(input('원의 반지름을 입력하세요 : '))
res1, res2 = new_circle(radius)
print('반지름 : %d, 원의 면적 : %.2f, 원의 둘레 : %.2f'%(radius,res1,res2))

원의 반지름을 입력하세요 : 5
반지름 : 5, 원의 면적 : 78.50, 원의 둘레 : 31.40

In [22]:
# keyword형 인수
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [23]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [24]:
personal_info(age=30,address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [27]:
x = {'name':'홍길동', 'age':30, 'address':'서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [29]:
# tuple unpacking
y = (70, 80, 90, 95)
average(*y)

4과목의 평균 : 83.75

In [31]:
# 키워드형 가변인수
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')
        
personal_info(**x)

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [35]:
# 위치형 가변인수 + 키워드형 가변인수
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [37]:
custom_print(1,2,3, sep=':',end='='*10)

1:2:3==========

In [38]:
# Q7-1
def sum(start, end):
    total = 0
    for i in range(start, end+1):
        total += i
    print('%d ~ %d의 정수 합계 : %d'%(start,end,total))
    
sum(10,100)
sum(100,1000)
sum(1000,10000)

10 ~ 100의 정수 합계 : 5005
100 ~ 1000의 정수 합계 : 495550
1000 ~ 10000의 정수 합계 : 49505500

In [41]:
# Q7-2 함수로 배수 합계 구하기
def sum_besu(n1,n2,num):
    sum = 0
    for i in range(n1,n2+1):
        if i%num == 0:
            sum += i
    return sum

start = int(input('시작 수를 입력하세요 : '))
end = int(input('끝 수를 입력하세요 :'))
besu = int(input('합계를 구할 배수를 입력하세요 : '))

result = sum_besu(start,end,besu)

print('%d ~ %d의 정수 중 %d의 배수의 합 : %d'%(start,end,besu,result))

시작 수를 입력하세요 : 10
끝 수를 입력하세요 :100
합계를 구할 배수를 입력하세요 : 5
10 ~ 100의 정수 중 5의 배수의 합 : 1045

In [44]:
# Q7-3 함수로 최대 공약수 구하기
def computeMaxGong(x,y):
    if x>y:
        small = y
    else:
        small = x
        
    for i in range(1,small+1):
        if((x%i==0)and(y%i==0)):
            result = i
    return result

num1 = int(input('첫 번째 수를 입력하세요 : '))
num2 = int(input('두 번째 수를 입력하세요 : '))

max_gong = computeMaxGong(num1,num2)

print('%d과(와) %d의 최대공약수 : %d' %(num1,num2,max_gong))

첫 번째 수를 입력하세요 : 33
두 번째 수를 입력하세요 : 44
33과(와) 44의 최대공약수 : 11

In [1]:
# 완전수 Perfect Number
def perfect_num(n):
    for i in range(2,n):
        sum = 0
        for num in range(1,i):
            if i%num == 0:
                sum += num
        if sum == i:
            print(i)
            
perfect_num(10000)

6
28
496
8128

# File 입출력

In [10]:
# ex 7-14
file = open('sample.txt', 'a', encoding='utf-8')
file.write('안녕하세요. 반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [11]:
# ex 7-15
scores = ['김소영 82 80 93 97 93 88',
         '정예린 86 100 93 86 90 77',
         '이세영 91 88 99 79 92 68',
         '정수정 86 100 93 89 92 93',
         '박지수 80 100 95 89 90 84']
data = ''
for item in scores:
    data += item + '\n'
    
#화면 출력하기 
print(data)

#파일(scores.txt)에 저장하기
file = open('scores.txt','w',encoding='utf8')
file.write(data)
file.close()

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [12]:
# ex 7-16
file = open('scores.txt','r',encoding='utf8')
lines = file.readlines()

print('scores.txt 파일의 내용 : ')
for line in lines:
    print(line,end='')
    
file.close()

scores.txt 파일의 내용 :
김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84